.Main {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
}

.content {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.diagram {
    max-height: 80%;
    flex-grow: 4;
}

.result {
    flex-grow: 1;
    background-color: cadetblue;
    font-size: 1.8rem;
}

.result_code {
    
}

.result_err {
    color: rgb(255, 0, 0);
}