.Main {
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    min-width: 101.2rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #005bff;
    border-radius: 1rem;
}

.diagram {
    flex-grow: 4;
}

.result {
    min-height: 9rem;
    flex-grow: 1;
    font-size: 1.8rem;
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid lighten(#005bff, 10);
    border-radius: 1rem;

    p {
        margin: 0;
    }
}

.result_code {
    font-family: "GTEastiProDisplay";
    
}

.result_err {
    color: #fff;
    background-color: rgb(249, 17, 85);
    display: inline-block;
    padding: 0.2rem 0.6rem;
    border-radius: 3rem;
}