@font-face {
  font-family: "GTEastiProDisplay";
  src: url("assets/fonts/GTEestiProDisplay/gteestiprodisplay_regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "GTEastiProDisplay";
  src: url("assets/fonts/GTEestiProDisplay/gteestiprodisplay_bold.otf") format("opentype");
  font-weight: 600;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.react-flow__panel {
  display: none;
}

