.Footer {
    background-color: #f5f7fa;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
}

p {
    margin: 0.2rem 0;
    // color: #fff;
    font-size: 1.3rem;
    font-family: "GTEastiProDisplay";
}