.Sidebar {
    max-width: 15rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #005bff;
    border-radius: 1rem;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        font-size: 1.5rem;
        padding: 0.2rem;
        width: 7rem;
        min-height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.node-example {
    background-color: #FFF;
    min-width: 5rem;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border: #000 solid 1px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    &:active {
        transform: scale(1) translate(-0.2rem, -0.2rem);
    }
}

.circle {
    border-radius: 100%;
    min-width: 3rem;
    min-height: 3rem;
}

.rectangle {
    min-height: 3rem;
    min-width: 4.5rem;
}

.root-node {
    background-color: #ff0000;
    min-width: 1.5rem;
    min-height: 1.5rem;
}

.end-node {
    background-color: #000;
    min-width: 1.5rem;
    min-height: 1.5rem;
}

.convert {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */

        background-color: #005bff;
        color: #fff;
        // width: 8rem;
        // height: 3rem;
        border: none;
        border-radius: 0.8rem;
        padding: 1rem 1.6rem;

        &:hover {
            cursor: pointer;
            background-color: lighten(#005bff, 10);
        }

        &:active {
            background-color: darken(#005bff, 10);
        }
    }
}